*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url('bg.jpeg'); */
    background-size: cover;
    overflow: hidden;
    height: 100vh;
}
.startmenu{
    position: absolute;
    bottom: -650px;
    /* height: 80%; */
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.startmenu img{
    border-radius: 9px;
}
.taskbar{
    position: absolute;
    background-color: #f3f3f3;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 110;
}
.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 5px 0;
    height: 80%;
}
.color{
    margin: 2px;
    padding: 2px;
    color: purple;
    width: 45px;
}
.micro{
    margin: 2px;
    padding: 2px;
    color: purple;
}